div:hover {
  border: solid black;
}
div:nth-child(3) {
  font-style: italic;
  color: blue;
}
div:nth-child(4) {
  color: red;
}
div:nth-child(5) {
  font-style: italic;
  font-size: 20px;
  color: orange;
}
div:nth-child(6) {
  color: brown;
}
div:nth-child(7) {
  font-style: italic;
  color: green;
}