.super-mario {
  width: 20%;
}
.goomba {
  width: 20%;
}

.baloon {
  z-index: 2;
  width: 20%;
  left: 300px;
  top: 50px;
  position: absolute;

}
.bowser {
  left: 300px;
  z-index: -1;
  width: auto;
  top: 20px;
  position: absolute;
}
.word {
  z-index: 3;
  left: 315px;
  top: 70px;
  position: absolute;
}
